
body{
    font-family: 'El Messiri', sans-serif;
}
.header{
    height: 80px;
    width: 1335px;
    background: darkblue;
    text-align: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.side-bar-left{
    height: 1000px;
    width: 200px;
    background: rgb(202, 24, 24);
    float: left;
}
.main{
    width: 700px;
    height:700px;
    background: rgb(25, 136, 228);
    float: left;
    margin: 50px;
    padding: 30px;
    flex-direction: row;



}
.side-bar-right{
    width: 200px;
    height: 1000px;
    background: blue;
    float: right;
}
.footer{
    width: 1350px;
    height: 80px;
    background: rebeccapurple;
    clear: both;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
background: #fc466b;    
  }
  section{
    width: 100%;
    height: 100vh;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
  }
  #topBtn{
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
  }
  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .checked{
    color: orange;
  }
  .container2{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .checked{
    color: orange;
  }
  .container3{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  .checked{
    color: orange;
  }
  .horror{
background: rgb(4, 110, 48);
box-shadow: 10px 10px 5px #aaaaaa;
border: black;  
text-align: center;
  }
  .comedy{
background: rgb(4, 153, 158);
box-shadow: 5px 10px inset;
border: black;  
text-align:center ;
  }
 .romanace {
background: rgb(128, 11, 59);
box-shadow: 10px 10px 8px 10px #888888;
border: black;  
text-align: center;
  }
 
  
#movie2{
    box-shadow: 10px 10px 5px #aaaaaa;
    border: black;  

}
 #movie3{
    box-shadow: 10px 10px 5px #aaaaaa;
    border: black;  

} 
#movie4{
    box-shadow: 10px 10px 5px #aaaaaa;
    border: black;  

}
 #movie5{
    box-shadow: 5px 10px inset;
    border: black;  

}
 #movie6{
    box-shadow: 5px 10px inset;
    border: black;  

}
 #movie7{
    box-shadow: 5px 10px inset;
    border: black;  

}
 #movie8{
    box-shadow: 10px 10px 8px 10px #888888;
    border: black;  

} 
#movie9{
    box-shadow: 10px 10px 8px 10px #888888;
    border: black;  

} 
#movie10{
    box-shadow: 10px 10px 8px 10px #888888;
border: black;  
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100vw;
    height: 100px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    font-family: 'Poppins';
}

header .inner{
    width: 1300px; /* This is the inner width of the content inside of your header (80%, etc) */
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo{
    display: table;
    height: 100%;
    float: left;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img{
    height: 50px;
    margin-top: 5px; /* Optical alignment of the logo */
}

header nav{
    float: right;
    height: 100%;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a{
    color: #101010;
}

header nav .button{
    background-color: #1ab26b; /* This HEX is the color of the button */
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .button:hover{
    filter: brightness(1.05);
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

.card{
    height: 340px;
    width: 250px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.front,
.back{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: 'Lobster', cursive;
    border-radius: 10px;
    position: absolute;
}

.front{
    background: linear-gradient(#08aeea, #2af598);
    z-index: 2;
    backface-visibility: hidden;
    box-shadow: 10px 10px 5px #aaaaaa;
    border: black;  

}

.back{
    background: linear-gradient(#f8da61, #ff5acd);
    z-index: 1;
    transform: rotateY(180deg);
}
.front1{
    background: linear-gradient(#08aeea, #2af598);
    z-index: 2;
    backface-visibility: hidden;
    width: auto;
    height: auto;
}

.back1{
    background: linear-gradient(#f8da61, #ff5acd);
    z-index: 1;
    transform: rotateY(180deg);
}
.front2{
    background: linear-gradient(#08aeea, #2af598);
    z-index: 2;
    backface-visibility: hidden;
}

.back2{
    background: linear-gradient(#f8da61, #ff5acd);
    z-index: 1;
    transform: rotateY(180deg);
}

.container:hover .card{
    transform: rotateY(180deg);
}

.container{
    perspective: 1000px;
}
  
  
  



